<title>NavBar</title>
<link rel="stylesheet" href="/css/NavigationBar.css" />
<header>
  <div class="navigation-wrapper">
    <div class="logo">
      <img src="/assets/image/1.png" />
    </div>
    <div class="menu">
      <div class="icon">
        <img src="/assets/image/avatar1.png" />
      </div>
      <a class="link_container" href="/pencarian/graf">
        <span class="link">TAMPILKAN GRAF</span>
        <div class="underlined_menu"></div>
      </a>
    </div>
    <div class="menu">
      <div class="icon">
        <img src="/assets/image/avatar2.png" />
      </div>
      <a class="link_container" href="/pencarian/grafik">
        <span class="link">TAMPILKAN GRAFIK BAR</span>
        <div class="underlined_menu"></div>
      </a>
    </div>
    <div class="menu">
      <div class="icon">
        <img src="/assets/image/avatar3.png" />
      </div>
      <a class="link_container" href="/pencarian/nama">
        <span class="link">CARI NAMA</span>
        <div class="underlined_menu"></div>
      </a>
    </div>
  </div>
</header>
