body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.wallpaper {
  background-image: url("/assets/image/wallpaper.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "nerko-one";
  src: url("../assets/font/NerkoOne-Regular.ttf");
}

@font-face {
  font-family: "cinzel";
  src: url('../assets/font/Cinzel-Regular.otf');
}

.descriptionWrapper{
  display: flex;
  color: white;
  text-align: justify;
  font-family: 'cinzel';
}

#tampilGraf{
  flex: 1;
  margin: 30px;
}

#tampilGrafikBar{
  flex: 1;
  margin: 30px;
}

#cariNama{
  flex: 1;
  margin: 30px;
}

.titleDesc{
  font-weight: bold;
}