.navigation-wrapper {
    display: flex;
    flex-direction: row;
    background-color: black;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 130px;
    margin: 15px;
  }

  .logo:hover{
    background-color: #535252;
    border-radius: 5px;
  }
  
  .icon {
    height: auto;
    width: 45px;
  }
  
  .link {
    color: #f9f9f9;
    font-family: "nerko-one";
    font-size: 15pt;
    text-align: center;
    margin-right: 30px;
    padding: 5px;
  }
  
  .link:hover {
    background-color: #535252;
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-thickness: 2px;
    border-radius: 5px;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    padding: 15px;
  }
  
  .underlined_menu:hover {
    width: 250px;
    height: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .link_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @font-face {
    font-family: "nerko-one";
    src: url("../assets/font/NerkoOne-Regular.ttf");
  }