#dropdown-container{
    width: 130px;
}

#input-container{
    width: 600px;
    margin: 20px;
}
.btn-group{
    margin: 20px;
}

.group-container{
    display: flex;
    flex-direction: row;
}

.btnCari-container{
    margin: 20px;
}

#btn-cari{
    width: 100px;
}

#pagination-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden{
    display: none;
}

@font-face {
    font-family: "cinzel";
    src: url('../assets/font/Cinzel-Regular.otf');
  }

.data-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: 'cinzel';
}

.oneDataContainer{
    display: grid;
    grid-template-areas: 'source target weight';
    grid-template-columns: 200px 200px 50px;
}

.target-container{
    grid-area: target;

}

.source-container{
    grid-area: source;
}

.weight-container{
    grid-area: weight;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(../assets/image/wallpaperStark.png);
 }