#dropdown-container{
    width: 130px;
}

.btn-group{
    margin: 20px;
    width: 151px;
}

.links line {
    stroke: #DD8627;
    stroke-opacity: 0.7;
  }
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}
  
text {
    font-family: sans-serif;
    font-size: 10px;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
 body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(../assets/image/wallpaperTargaryen.png);
 }

.pageWrapper{
    display: flex;
    flex-direction: column;
}