#dropdown-container{
    width: 130px;
}

.btn-group{
    margin: 20px;
}

#chart-container{
    height: 75%;
    display: flex;
    justify-content: center;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
 body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(../assets/image/wallpaperLannister.png);
 }
